.menu {
  border: 1px solid #c1c1c1;
  top: 12px;
  left: 12px;
  padding: 8px;
  border-radius: 2px;

  width: 8vmax;

  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
}

@media (max-width: 360px) {
  .menu {
    top: auto;
    left: auto;
    position: relative;
    margin-top: 12px;
    margin-bottom: 16px;
  }
}
