
body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
} 

.social-medias {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.social-medias img {
  padding: 4px 8px;
}

.social-medias a {
  text-decoration: none; 
}