
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
} 

.social-medias {
  display: flex;
  flex-direction: row;
}

.social-medias img {
  padding: 4px 8px;
}

.social-medias a {
  text-decoration: none; 
}

header {
  display: flex;
  padding: 40px;
  align-items: center;
  flex-direction: column;
  background-color: #dedede;
}